/* Interview */

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 20px;
	margin: 0.25em;
}

h2{
	background-color: black;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 17px;
	margin: 0.25em;
}

.videowrapper{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0px;
}

.videowrapper iframe{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;



}
	



